USE [master]
GO
/****** Object:  Database [Storage_Service_Db]    Script Date: 12/8/2021 11:08:27 PM ******/
CREATE DATABASE [Storage_Service_Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Storage_Service_Db', FILENAME = N'/var/opt/mssql/data/Storage_Service_Db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Storage_Service_Db_log', FILENAME = N'/var/opt/mssql/data/Storage_Service_Db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Storage_Service_Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Storage_Service_Db]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 12/8/2021 11:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[id] [nvarchar](255) NOT NULL,
	[ownerId] [nvarchar](255) NULL,
	[url] [nvarchar](max) NULL,
	[createdAt] [datetimeoffset](7) NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
